---
---
.page-header {
  background-color: transparent;
  background-image: url("egg.jpg");
  background-size: cover;
  background-position: center center;
}
form {
  color: black;
}

body {
  font-family: Comfortaa;
}

#description {
  font-weight: bold;
}

#topright {
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 16px;

  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
a:link {
    color: #D3D3D3;
}
a:visited {
    color: #D3D3D3;
}
a:hover {
    color: #D3D3D3;
}
a:active {
    color: #D3D3D3;
}
